.weekdays {
    width: 100%;
    display: flex;
    margin: 3rem 0;

}

.weekdays span {
    width: calc(100% / 7);
    font-size: clamp(1rem, 8cqi, 1.3rem);
    font-weight: bold;
    text-transform: uppercase;
    color: #78879e;
    letter-spacing: 0.1rem;
    display: flex;
    justify-content: center;
}